#awesome_section {
  width: 100%;
  padding: 80px 0;
}
.title {
  color: #212121;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 34px;
}
.line {
  margin: auto;
  width: 64px;
  height: 2px;
  background-color: #e72424;
  margin-bottom: 34px;
}
.discription {
  margin-bottom: 68px;
}
.discription p {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  color: #86878b;
  text-align: center;
}
.awesome_wrap {
  display: flex;
  justify-content: space-between;
}
.card {
  width: 350px;
}
.card_content {
}
.card_img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px #e72424 solid;
  margin: 0 auto 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card_title {
  text-align: center;
  color: #333333;
  font-family: 'Open Sans';
  font-weight: 700px;
  font-size: 20px;
  margin-bottom: 16px;
}
.card_text p {
  text-align: center;
  color: #000000;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400px;
}
